 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 166px 189px 0 181px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 36px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 47px 189px 60px 181px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 103px;
    margin-left: 85px;
    margin-right: 85px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 61px;
    margin-left: 85px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 90px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 68px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    margin-top: 41px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    margin-bottom: 37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1410px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 96px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 42px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-3 .u-image-1 {
  width: 663px;
  min-height: 969px;
  background-image: url("images/v.png");
  background-position: 50% 50%;
  margin: 60px 101px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -293px 0 128px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15.5px));
  min-height: 399px;
  grid-gap: 31px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    width: 534px;
    margin-top: 53px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    width: 775px;
    height: 709px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-bottom: 135px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    grid-gap: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-3 .u-image-1 {
    width: 461px;
    min-height: 1024px;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-3 .u-image-2 {
    width: 664px;
    height: 664px;
    margin-top: -969px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -151px;
    margin-bottom: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-3 .u-image-1 {
    min-height: 848px;
    width: 450px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 478px;
    height: 478px;
    margin-top: -792px;
  }

  .u-section-3 .u-list-1 {
    width: 492px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-3 .u-image-1 {
    min-height: 441px;
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 340px;
    margin-top: -396px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 259px;
    margin-top: -112px;
    margin-bottom: 121px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 844px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 728px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 416px;
  width: 757px;
  margin: 59px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 27px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 19px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1rem;
  margin: 27px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .u-section-4 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 720px;
    margin-top: 45px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: 21px 20px 45px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 12px 51px 13px 50px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/8cd7775f9129da8b5bf787a063d8426e-14478585361.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 357px;
}

.u-section-5 .u-text-1 {
  margin: 100px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 106px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 3922px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-6 .u-image-1 {
  width: 468px;
  height: 468px;
  background-image: url("images/f4bff139c5ded9657fd49540f3d27595e1b84541209228336118dab2e27b61b86ea32b33b6712359f112676c8a91d1b96c110ba67ee405b667a627_1280.jpg");
  background-position: 50% 50%;
  margin: 319px auto 0;
}

.u-section-6 .u-list-1 {
  width: 882px;
  margin: -676px auto 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 242px;
  grid-gap: 22px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-3 {
  margin-left: 0;
}

.u-section-6 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-5 {
  margin-left: 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-7 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
}

.u-section-6 .u-image-2 {
  background-image: url("images/63f86bab525f59230a4209925dacd0b7c88cf7e9fbd007c745461281886856587c563e78a05123f294dc5caa9f212400372d494ef7fd7a71156d63_1280.jpg");
  margin-top: 1566px;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-list-2 {
  width: 882px;
  margin: -2681px auto 0;
}

.u-section-6 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 1573px;
  grid-gap: 22px 22px;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-8 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-9 {
  margin-left: 0;
}

.u-section-6 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-11 {
  margin-left: 0;
}

.u-section-6 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-text-12 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-13 {
  margin-left: 0;
}

.u-section-6 .u-list-3 {
  width: 882px;
  margin: 25px auto 60px;
}

.u-section-6 .u-repeater-3 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 1354px;
  grid-gap: 22px 22px;
}

.u-section-6 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-text-14 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-15 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-text-16 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-17 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-6 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-text-18 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.u-section-6 .u-text-19 {
  margin-left: 0;
  margin-bottom: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3841px;
  }

  .u-section-6 .u-btn-1 {
    padding: 0;
  }

  .u-section-6 .u-image-2 {
    width: 468px;
    height: 468px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-2 {
    margin-top: -2019px;
  }

  .u-section-6 .u-list-3 {
    margin-top: 20px;
  }

  .u-section-6 .u-btn-2 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 4734px;
  }

  .u-section-6 .u-image-1 {
    width: 536px;
    height: 536px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-6 .u-text-3 {
    margin-bottom: 0;
  }

  .u-section-6 .u-text-5 {
    margin-bottom: 0;
  }

  .u-section-6 .u-text-7 {
    margin-bottom: 0;
  }

  .u-section-6 .u-list-2 {
    width: 720px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 3852px;
  }

  .u-section-6 .u-list-3 {
    width: 720px;
  }

  .u-section-6 .u-repeater-3 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 3316px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 5059px;
  }

  .u-section-6 .u-image-1 {
    width: 535px;
    height: 535px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 453px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-list-2 {
    width: 540px;
  }

  .u-section-6 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-list-3 {
    width: 540px;
  }

  .u-section-6 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 6395px;
  }

  .u-section-6 .u-image-1 {
    height: 340px;
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    margin-top: -617px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1281px;
    grid-gap: 22px 22px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 1635px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-list-2 {
    margin-top: -1955px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-2 {
    min-height: 2739px;
  }

  .u-section-6 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-repeater-3 {
    min-height: 2106px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 354px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  margin: 40px auto 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 541px;
}

.u-section-8 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 42px auto 60px;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-8 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 15px;
}

.u-section-8 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-8 .u-text-3 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-8 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
  padding: 15px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 -80px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-8 .u-text-6 {
  width: 191px;
  margin: 15px auto 0;
}

.u-section-8 .u-carousel-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-8 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 67px auto 0;
  padding: 15px;
}

.u-section-8 .u-text-7 {
  font-size: 1.125rem;
  margin: 12px 0 0;
}

.u-section-8 .u-text-8 {
  width: 191px;
  margin: 84px auto 0;
}

.u-section-8 .u-carousel-item-4 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-8 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 39px auto 0;
  padding: 15px;
}

.u-section-8 .u-text-9 {
  font-size: 1.125rem;
  width: auto;
  margin: 22px 0 0;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  width: 232px;
  margin: 31px auto 0;
}

.u-section-8 .u-text-11 {
  width: 206px;
  margin: 16px auto 0;
}

.u-section-8 .u-carousel-item-5 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-text-12 {
  font-size: 1.125rem;
  width: auto;
  margin: 0 40px 0 0;
}

.u-section-8 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: -151px auto 0;
  padding: 15px;
}

.u-section-8 .u-text-13 {
  width: 473px;
  margin: 174px auto 0;
}

.u-section-8 .u-text-14 {
  font-weight: 700;
  width: 232px;
  margin: -75px auto 0;
}

.u-section-8 .u-carousel-item-6 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-8 .u-container-layout-6 {
  padding: 0 50px;
}

.u-section-8 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: -196px auto 0;
  padding: 15px;
}

.u-section-8 .u-text-15 {
  font-size: 1.125rem;
  width: 614px;
  margin: 258px auto 0;
}

.u-section-8 .u-text-16 {
  font-weight: 700;
  font-size: 1.125rem;
  width: 232px;
  margin: 49px auto 0;
}

.u-section-8 .u-carousel-item-7 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-8 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-8 .u-text-17 {
  font-size: 1.125rem;
  margin: 69px 0 0;
}

.u-section-8 .u-text-18 {
  font-weight: 700;
  width: 352px;
  margin: 44px auto 0;
}

.u-section-8 .u-text-19 {
  width: 473px;
  margin: 20px auto 0;
}

.u-section-8 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-8 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 414px;
    width: 878px;
    height: auto;
    margin-top: 60px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 79px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 64px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 39px;
  }

  .u-section-8 .u-text-11 {
    width: 191px;
    margin-top: 14px;
  }

  .u-section-8 .u-text-12 {
    margin-top: 121px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-icon-6 {
    margin-top: -265px;
  }

  .u-section-8 .u-text-16 {
    font-size: 1.5rem;
    margin-top: 296px;
  }

  .u-section-8 .u-text-17 {
    width: auto;
    margin-top: 115px;
  }

  .u-section-8 .u-text-18 {
    margin-top: 94px;
  }

  .u-section-8 .u-text-19 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-slider-1 {
    min-height: 431px;
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 67px;
  }

  .u-section-8 .u-text-9 {
    margin-top: -6px;
  }

  .u-section-8 .u-text-12 {
    margin-right: 0;
  }

  .u-section-8 .u-icon-6 {
    margin-top: -293px;
  }

  .u-section-8 .u-text-15 {
    margin-top: 32px;
  }

  .u-section-8 .u-text-16 {
    margin-top: 324px;
    margin-right: 238px;
    margin-left: 190px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-18 {
    margin-top: 53px;
  }

  .u-section-8 .u-text-19 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-slider-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-icon-6 {
    margin-top: -265px;
  }

  .u-section-8 .u-text-15 {
    width: 540px;
    margin-top: 4px;
  }

  .u-section-8 .u-text-16 {
    margin-top: 296px;
    margin-right: 168px;
    margin-left: 120px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-slider-1 {
    min-height: 459px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-icon-4 {
    margin-top: 95px;
  }

  .u-section-8 .u-text-9 {
    margin-top: -34px;
  }

  .u-section-8 .u-text-13 {
    width: 320px;
  }

  .u-section-8 .u-icon-6 {
    margin-top: 84px;
  }

  .u-section-8 .u-text-15 {
    width: auto;
    margin-top: -128px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-16 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-17 {
    margin-top: 145px;
  }

  .u-section-8 .u-text-18 {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-19 {
    width: auto;
    margin-top: 57px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 90px;
}

.u-section-9 .u-text-1 {
  font-weight: 400;
  margin: 26px auto;
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 538px;
}

.u-section-10 .u-list-1 {
  width: 622px;
  grid-template-rows: auto auto auto;
  margin: 50px auto;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 1479px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-1 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-2 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-3 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-4 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-5 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px;
}

.u-section-10 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-6 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-icon-7 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-7 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-container-layout-8 {
  padding: 30px;
}

.u-section-10 .u-icon-8 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-8 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px;
}

.u-section-10 .u-icon-9 {
  height: 64px;
  width: 64px;
  margin: 0 20px;
  padding: 15px;
}

.u-section-10 .u-text-9 {
  margin: -64px 0 0 115px;
}

.u-section-10 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-btn-7 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-list-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-list-1 {
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-list-1 {
    width: 340px;
  }
} .u-section-11 {
  min-height: 917px;
}

.u-section-11 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 100px auto 0;
}

.u-section-11 .u-shape-1 {
  height: 193px;
  background-image: none;
  margin-top: 156px;
  margin-bottom: 0;
}

.u-section-11 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: -299px auto 60px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 215px;
  grid-gap: 30px;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/H25f2f973ed9849a5939c82264e21ff88x.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
}

.u-section-11 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .u-image-2 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/unnamed.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-11 .u-btn-2 {
  background-image: none;
}

.u-section-11 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-11 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px;
}

.u-section-11 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/NetworkTopology-FullyConnected.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-11 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-11 .u-btn-3 {
  padding: 0;
}

.u-section-11 .u-text-9 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-11 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 627px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 202px;
  }

  .u-section-11 .u-list-1 {
    width: 940px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 177px;
  }

  .u-section-11 .u-text-2 {
    width: 137px;
  }

  .u-section-11 .u-btn-1 {
    padding: 0;
  }

  .u-section-11 .u-text-5 {
    width: 137px;
  }

  .u-section-11 .u-btn-2 {
    padding: 0;
  }

  .u-section-11 .u-text-8 {
    width: 137px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-list-1 {
    width: 720px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-list-1 {
    width: 540px;
  }

  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-section-11 .u-list-1 {
    width: 340px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-5 {
    font-size: 1.88235rem;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-text-8 {
    font-size: 1.88235rem;
  }
}